
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<img src="~/Admin Template/assets/img/bg-smart-home-1.jpg" />*@
@*<img src="~/Admin Template/assets/img/bg-sma*@

<div>
    <label>Total users:</label>@ViewBag.TotalUsers
    @*<img src="~/Admin Template/assets/img/meeting.jpg" height="800" width="1010" />*@
    <img src="~/Admin Template/assets/img/office-dark.jpg" height="650" width="1010" />
</div>
