
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<div class="employerIndex">

    <img src="~/Index Template/assets/img/gallery/cv_bg.jpg" height="800" width="1410"/>


</div>
